@import "src/assets/mixins";

#card {
  width: 90%;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-evenly;

  .info {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    @include blockForm;

    h4 {
      width: 150px;
      margin: 2px auto;
      text-align: center;
    }

    &__weather {
      margin-top: 20px;
      height: 125px;
      @include mainFont;
    }

    #weatherIcon {
      position: absolute;
      top: 38%;
      left: 59%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
    }

    &__selectLocation {
      @include mainFont;

      select {
        font: inherit;
        color: inherit;
        background: none;
        border: none;
        -webkit-appearance: none;
        outline: none;
        text-decoration: 1px underline;
        cursor: pointer;

        option {
          background: #bb86fa;
        }
      }
    }
  }

  #userCard {
    width: 1000px;
    height: 250px;
    @include blockForm;

    h4 {
      width: 90%;
    }

    @media (max-width: 1400px) {
      width: 800px;
    }

    @media (max-width: 1250px) {
      width: 600px;
    }

    @media (max-width: 1050px) {
      width: 400px;
    }
  }
}

p {
  @include reset;
}

